In [380]:
import pandas as pd

In [381]:
train_data = pd.read_csv('./train.csv')
train_data.head()

,full_name,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,resale_price_Lakh
0,2019 Tata Tiago XZ Plus,Nov 2019,1199 cc,Third Party,Manual,"30,910 Kms",First Owner,Petrol,83.83bhp,5.0,23.84 kmpl,Hatchback,Pune,5.66
1,2018 Honda WR-V i-VTEC VX,Apr 2018,1199 cc,Zero Dep,Manual,"48,089 Kms",Third Owner,Petrol,88.7bhp,5.0,17.5 kmpl,SUV,Jaipur,6.64
2,2015 Honda City i VTEC SV,May 2015,1497 cc,Third Party insurance,Manual,"51,000 Kms",Second Owner,Petrol,117.3bhp,5.0,17.4 kmpl,Sedan,Mumbai,5.65
3,2021 Tata New Safari XZA Plus Adventure Editio...,2021,1956 cc,Third Party insurance,Automatic,"30,000 Kms",First Owner,Diesel,167.67bhp,7.0,14.08 kmpl,SUV,Mumbai,23.00
4,2019 Maruti Baleno 1.2 CVT Zeta,Jun 2019,1197 cc,Zero Dep,Automatic,"61,113 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Kolkata,6.87

In [382]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13956 entries, 0 to 13955
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          13956 non-null  object
 1   registered_year    13902 non-null  object
 2   engine_capacity    13947 non-null  object
 3   insurance          13951 non-null  object
 4   transmission_type  13956 non-null  object
 5   kms_driven         13953 non-null  object
 6   owner_type         13920 non-null  object
 7   fuel_type          13956 non-null  object
 8   max_power          13867 non-null  object
 9   seats              13949 non-null  float64
 10  mileage            13549 non-null  object
 11  body_type          13956 non-null  object
 12  city               13956 non-null  object
 13  resale_price_Lakh  13956 non-null  float64
dtypes: float64(2), object(12)
memory usage: 1.5+ MB

In [383]:
#Check for duplicated rows
train_data.duplicated().sum()

141

In [384]:
#Drop duplicate rows
train_data.drop_duplicates(inplace=True)
train_data.duplicated().sum()

0

In [385]:
#Check for null values
train_data.isna().sum()

full_name              0
registered_year       53
engine_capacity        9
insurance              5
transmission_type      0
kms_driven             3
owner_type            36
fuel_type              0
max_power             88
seats                  7
mileage              404
body_type              0
city                   0
resale_price_Lakh      0
dtype: int64

In [386]:
#Transform registered_year
train_data['registered_year']

0        Nov 2019
1        Apr 2018
2        May 2015
3            2021
4        Jun 2019
           ...
13951        2021
13952    Dec 2017
13953    Jan 2018
13954    Apr 2017
13955    Mar 2015
Name: registered_year, Length: 13815, dtype: object

In [387]:
# Extract the year using a regular expression
train_data['registered_year'] = train_data['registered_year'].str.extract(r'(\d{4})')

# Display the updated DataFrame
train_data['registered_year']

0        2019
1        2018
2        2015
3        2021
4        2019
         ...
13951    2021
13952    2017
13953    2018
13954    2017
13955    2015
Name: registered_year, Length: 13815, dtype: object

In [388]:
#Transform engine_capacity
train_data['engine_capacity']

0        1199 cc
1        1199 cc
2        1497 cc
3        1956 cc
4        1197 cc
          ...
13951    2199 cc
13952    1197 cc
13953    1498 cc
13954    1248 cc
13955    1198 cc
Name: engine_capacity, Length: 13815, dtype: object

In [389]:
# Extract the numeric part using a regular expression
train_data['engine_capacity'] = train_data['engine_capacity'].str.rstrip(' cc')

# Display the updated DataFrame
train_data['engine_capacity'].unique()

array(['1199', '1497', '1956', '1197', '2993', '1598', '1995', '999',
       '2143', '2987', '1248', '2498', '1194', '1364', '2179', '1451',
       '1999', '1498', '1591', '1582', '1462', '1198', '1493', '799',
       '1499', '1196', '995', '1482', '1991', '998', '2199', '796',
       '2494', nan, '2393', '1298', '1799', '1396', '1086', '814', '1798',
       '1968', '2982', '1120', '2477', '1998', '1985', '3198', '1461',
       '1193', '1373', '936', '1399', '1353', '2925', '0', '2967', '1896',
       '2148', '1997', '2354', '1950', '624', '1186', '2650', '1395',
       '1368', '1390', '1797', '2694', '1061', '1330', '1047', '2755',
       '1796', '1794', '1969', '2487', '1496', '1595', '1586', '2400',
       '2523', '1332', '2835', '2998', '1596', '1405', '2999', '2157',
       '1108', '1597', '2184', '2956', '1341', '2996', '72', '1490',
       '1993', '2497', '4367', '3498', '2953', '1495', '4999', '1388',
       '1984', '1589', '2696', '2609', '2198', '2360', '5000', '4663',
       '1996', '1150', '993', '3604', '2446', '3200', '1172', '4134',
       '5461', '2995', '2997', '2496', '2499', '3982', '5998', '4395',
       '909', '2489', '2698', '2979', '2596', '3471', '4806', '1389',
       '1948', '1299', '1242', '1781', '1349', '1468', '2894', '3597',
       '1599', '2359', '2231', '2200', '1898', '2147', '4951', '2112'],
      dtype=object)

In [390]:
#Transform insurance
train_data['insurance']

0                  Third Party
1                     Zero Dep
2        Third Party insurance
3        Third Party insurance
4                     Zero Dep
                 ...
13951    Third Party insurance
13952    Third Party insurance
13953            Comprehensive
13954            Comprehensive
13955            Comprehensive
Name: insurance, Length: 13815, dtype: object

In [391]:
#Check values
train_data['insurance'].unique()

array(['Third Party', 'Zero Dep', 'Third Party insurance',
       'Comprehensive', 'Not Available', '1', '2', nan], dtype=object)

In [392]:
#Transmission_type - No problems to solve
train_data['transmission_type']

0           Manual
1           Manual
2           Manual
3        Automatic
4        Automatic
           ...
13951    Automatic
13952       Manual
13953       Manual
13954       Manual
13955       Manual
Name: transmission_type, Length: 13815, dtype: object

In [393]:
train_data['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [394]:
#Kms_driven
train_data['kms_driven']

0        30,910 Kms
1        48,089 Kms
2        51,000 Kms
3        30,000 Kms
4        61,113 Kms
            ...
13951    80,000 Kms
13952    17,923 Kms
13953    63,389 Kms
13954    40,000 Kms
13955    33,046 Kms
Name: kms_driven, Length: 13815, dtype: object

In [395]:
train_data['kms_driven'].unique()

array(['30,910 Kms', '48,089 Kms', '51,000 Kms', ..., '17,923 Kms',
       '63,389 Kms', '33,046 Kms'], dtype=object)

In [396]:
# Remove 'Kms' and commas, convert to numeric
train_data['kms_driven'] = train_data['kms_driven'].str.replace(' Kms', '').str.replace(',', '')

# Check the unique values again
train_data['kms_driven'].unique()

array(['30910', '48089', '51000', ..., '17923', '63389', '33046'],
      dtype=object)

In [397]:
#Owner_Type - No errors to solve
train_data['owner_type']

0         First Owner
1         Third Owner
2        Second Owner
3         First Owner
4         First Owner
             ...
13951    Second Owner
13952     First Owner
13953    Second Owner
13954    Second Owner
13955     First Owner
Name: owner_type, Length: 13815, dtype: object

In [398]:
train_data['owner_type'].unique()

array(['First Owner', 'Third Owner', 'Second Owner', 'Fifth Owner',
       'Fourth Owner', nan], dtype=object)

In [399]:
#Fuel_type - No errors to solve
train_data['fuel_type']

0        Petrol
1        Petrol
2        Petrol
3        Diesel
4        Petrol
          ...
13951    Diesel
13952    Petrol
13953    Diesel
13954    Diesel
13955    Petrol
Name: fuel_type, Length: 13815, dtype: object

In [400]:
train_data['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'Electric', 'LPG'], dtype=object)

In [401]:
#Max_Power
train_data['max_power']

0         83.83bhp
1          88.7bhp
2         117.3bhp
3        167.67bhp
4          83.1bhp
           ...
13951     197.2bhp
13952     81.83bhp
13953     108.6bhp
13954      88.5bhp
13955      86.7bhp
Name: max_power, Length: 13815, dtype: object

In [402]:
train_data['max_power'].unique()

array(['83.83bhp', '88.7bhp', '117.3bhp', '167.67bhp', '83.1bhp',
       '261.49bhp', '81.86bhp', '103.5bhp', '187.74bhp', '98.63bhp',
       '67bhp', '170bhp', '108.5bhp', '88.50bhp', '117.6bhp', '258bhp',
       '74bhp', '105bhp', '94.68bhp', nan, '152.87bhp', '81.83bhp',
       '141bhp', '78.9bhp', '177bhp', '98.59bhp', '121.3bhp', '126.2bhp',
       '91.18bhp', '82bhp', '103bhp', '254.8bhp', '113.98bhp', '53.64bhp',
       '113.18bhp', '110bhp', '118.35bhp', '86.8bhp', '63 PS',
       '121.36bhp', '157.81bhp', '147.9bhp', '116.3bhp', '67.1bhp',
       '98.6bhp', '197.26bhp', '118.36bhp', '47.33bhp',
       '105 PS at 5250 rpm', '67.05bhp', '71.01bhp', '86.7bhp', '75 PS',
       '99.23bhp', '102', '73.9bhp', '58.2bhp', '75bhp', '55.92bhp',
       '101.65bhp', '47.3bhp', '147.8bhp', '187.7bhp', '121bhp',
       '81.80bhp', '85.8bhp', '130.2bhp', '98.96bhp', '84bhp', '67.04bhp',
       '73.94bhp', '88.5bhp', '88.76bhp', '68.05bhp', '58bhp', '58.33bhp',
       '184bhp', '108.62bhp', '152.88bhp', '148bhp', '80 PS at 5200 rpm',
       '61.7bhp', '88.8bhp', '63', '55.2bhp', '88.73bhp', '79.4bhp',
       '62.1bhp', '46.3bhp', '147.52bhp', '65.71bhp', '84.82bhp',
       '168.5bhp', '188bhp', '178bhp', '113.43bhp', '70bhp', '177.46bhp',
       '53.26bhp', '113.45bhp', '73bhp', '175.56bhp', '62bhp', '74.02bhp',
       '163bhp', '58.16bhp', '174.33bhp', '197bhp', '83.8bhp', '64.1bhp',
       '91.1bhp', '85.80bhp', '237.36bhp', '73.75bhp', '117.60bhp',
       '138.1bhp', '82.9bhp', '246.74bhp', '110', '108.49bhp',
       '301.73bhp', '57.6bhp', '86.83bhp', '68', '140bhp', '138.05bhp',
       '325.86bhp3600-4200rpm', '100bhp', '75.94bhp', '103.26bhp',
       '140.8bhp', '76bhp', '241.4bhp', '165 [224] at 3800', '105PS',
       '105.5bhp', '170', '152 PS', '174.33', '191.76bhp', '157.75bhp',
       '89.75bhp', '157.7bhp', '68bhp', '102.5bhp', '35 Bhp', '127bhp',
       '37bhp', '100.6bhp', '73.97bhp', '108.6bhp', '89.84bhp',
       '80.84bhp', '265bhp', '98.82bhp', '147.51bhp', '197.13bhp',
       '69bhp', '103.2bhp', '103.52bhp', '138.08bhp', '90(66)', '183bhp',
       '99bhp', '110.4bhp', '118PS at 6,600 rpm', '160bhp', '112bhp',
       '65.39bhp', '75', '106', '66.1bhp', '63.1bhp', '194bhp',
       '90PS at 4000rpm', '197.2bhp', '147.5bhp', '136bhp', '160.77bhp',
       '116.4bhp', '191.7bhp', '163.7bhp', '82.4bhp', '84.8bhp', '64',
       '190bhp', '203bhp', '153.866bhp', '138.12bhp', '40.3bhp',
       '67.06bhp', '201.15bhp', '53.3bhp', '153.86bhp', '157.8bhp',
       '113.42bhp', '261.50bhp', '83.81bhp', '186bhp', '63.12bhp',
       '132PS', '139.46bhp', '170.63bhp', '138bhp', '175.67bhp', '77bhp',
       '72.40bhp', '78', '120.96bhp', '130bhp', '171.5bhp', '86.63bhp',
       '70.02bhp', '120.69bhp', '93.87bhp', '103.3bhp', '103.25bhp',
       '88bhp', '103.6bhp', '200bhp', '113.4bhp', '181.04bhp', '83.14bhp',
       '75.10bhp', '120bhp', '167.68bhp', '56.3bhp', '93.7bhp', '143bhp',
       '63bhp', '160.92bhp', '138.03bhp', '107.2bhp', '88.77bhp',
       '83.11bhp', '108.495bhp', '189.08bhp', '71.02bhp', '102.57bhp',
       '126.32bhp', '335.26bhp', '108.45bhp', '101', '118.41bhp', '88.2',
       '72bhp', '63PS at 5,400 rpm', '71 PS at 4500 rpm', '174.57bhp',
       '224bhp', '115.05bhp', '174.5bhp', '204bhp', '177.6bhp', '104.68',
       '177.5bhp', '100', '70.40Bhp', '163.60bhp', '82.85bhp', '100.5bhp',
       '91.19bhp', '121.31bhp', '40.36bhp', '61.68bhp', '97.9bhp',
       '97.89bhp', '134.1bhp', '178.49bhp', '187.4bhp', '57', '105.94bhp',
       '92', '90 PS', '158.2bhp', '181bhp', '69.04bhp', '171 PS',
       '270.9bhp', '83 PS', '333bhp', '40bhp', '119.35bhp', '55 Bhp',
       '126.24bhp', '147.4bhp', '180', '235bhp', '254.7bhp', '187.40bhp',
       '69.01bhp', '336bhp', '306bhp', '153.8bhp', '181.03bhp', '94',
       '91.7bhp', '71bhp', '147.94bhp', '248.08bhp', '203.2bhp', '53.5',
       '175bhp', '194.44bhp', '503bhp', '35 bhp', '115bhp', '136.78bhp',
       '87.2bhp', '48.21bhp', '254.79bhp', '138.02bhp', '218',
       '335.25bhp', '76.43bhp', '185bhp', '241.39bhp', '174.3bhp',
       '126.3bhp', '104.5bhp', '150bhp', '93 PS', '97.7bhp', '70', '85ps',
       '235', '194.3bhp', '123.37bhp', '112bhp at 3800 rpm', '59.17bhp',
       '194.4bhp', '37.5bhp', '162bhp', '116.6', '59.18bhp', '79.65bhp',
       '182.46bhp', '37.48bhp', '167.7bhp', '92.7bhp', '214.5bhp',
       '218bhp', '296bhp', '281.61bhp', '241.38bhp', '167.6bhp',
       '201.1bhp', '182.38bhp', '272bhp', '84.88bhp', '101.64bhp', '178',
       '91.72bhp', '75PS', '170PS', '82.9', '25.5bhp', '172.35bhp',
       '158bhp', '57.5', '156.9bhp', '502.8bhp', '38.4bhp', '25.4bhp',
       '66(90) / 4000', '80.46bhp', '149.92bhp', '120bhp (86.7kw)',
       '241.3bhp', '94.93bhp', '138.13bhp', '161.6', '453.26bhp',
       '435bhp', '167.62bhp', '221.3bhp', '245.59bhp', '375.48bhp',
       '109PS', '107.3bhp', '70 bhp at 5400 rpm', '66.6', '76', '177',
       '248bhp', '74.96bhp', '271.2bhp', '172.45bhp', '384.87bhp',
       '60 PS', '64bhp', '173bhp', '280bhp', '215.01bhp', '76.8bhp',
       '85bhp', '41.42bhp', '303.7bhp', '300kWbhp', '65', '108.48bhp',
       '65 PS at 5500 rpm', '335.2bhp', '103.39bhp', '270.88bhp',
       '362.9bhp', '110.5bhp', '294.9bhp', '245.40bhp', '108.50bhp',
       '34.2bhp', '97.6bhp', '65bhp', '73.74bhp', '240bhp', '210',
       '382bhp', '112.2', '99.6bhp', '123.24bhp', '125', '157.57bhp',
       '321.84bhp', '252bhp', '178.3bhp', '296.36bhp', '208bhp',
       '52.8bhp', '72.41bhp', '84.48bhp', '258', '114.41bhp', '380bhp',
       '245bhp', '150 kW at 6300 rpm', '163.2', '32.5bhp', '114bhp',
       '130.07bhp', '92bhp', '179.5bhp', '134bhp', '148.31bhp',
       '84bhp3750rpm', '469bhp', '130.3bhp', '105', '132/4000-6000',
       '121.4bhp', '552bhp', '96.55bhp', '442.53bhp', '120.7bhp',
       '68.1bhp', '215', '421bhp', '32.8bhp', '115 PS', '45bhp',
       '102.53bhp', '100 bhp', '140PS', '179.5', '367bhp', '247bhp',
       '75PS at 4000rpm', '194.37bhp', '86.76bhp', '320bhp', '86.79bhp',
       '362.07bhp', '335.2', '178.4bhp', '75 PS at 4000 rpm', '308bhp',
       '210bhp', '237.4bhp', '80.9bhp', '100.57bhp', '158.8bhp',
       '58.3bhp', '271.3bhp', '160 BHP', '400bhp', '64.9', '47', '85',
       '82 PS', '154bhp', '558bhp', '80', '99.61bhp', '328.5bhp', '88 PS',
       '74.9bhp', '78 kW', '268bhp', '167.63bhp', '61 PS', '78.8bhp',
       '335.3bhp', '134hp', '98.79bhp', '110(150)/5700', '71 PS',
       '85 PS at 6000rpm', '153.87bhp', '104.55bhp', '75 bhp at 5400 rpm',
       '70.67bhp', '169bhp', '80bhp', '379.7bhp', '257.47bhp', '340bhp',
       '59bhp', '443.87bhp', '214.56bhp', '91.2bhp', '118.3bhp',
       '212.55bhp', '180kw', '140', '35', '360bhp', '170.6bhp',
       '97.64bhp', '260.0', '261.4bhp', '300bhp', '89bhp', '86.80bhp',
       '112.44bhp', '402.30Bhpbhp', '75.09bhp', '74.93bhp', '103.2',
       '236bhp', '53bhp', '255bhp', '68.07bhp', '198.25bhp', '155bhp',
       '118.6', '420bhp', '65.03bhp', '63 HP at 3200 rpm', '151.89bhp',
       '73.8bhp', '144', '72.4bhp', '141.1bhp', '120.3bhp', '134.10bhp',
       '282bhp', '98bhp', '215bhp', '104 PS', '82.5bhp',
       '362.07bhp5500-6100bhp', '98.5bhp', '141.04bhp', '241.7bhp',
       '271.23bhp', '150', '241.6bhp', '237bhp', '122bhp',
       '100PS at 5,500rpm', '516.29bhp', '231.78bhp', '61.6bhp',
       '76.9bhp', '53 PS', '83.1', '110 PS at 4000 RPM', '114.4bhp',
       '170hp', '120', '321bhp', '198.5', '95.48bhp', '94 bhp', '395bhp'],
      dtype=object)

In [403]:
import re
def transform_max_power(x):
    try:
        if 'bhp' in x:
            return str(10*round(1/10*float(x.rstrip('bhp'))))
        elif 'PS' in x:
            match = re.search(r'\d+', x)  # Match one or more digits
            if match:
                return str(10*round(1/10*float(match.group())))  # Extract and convert to an integer
            else:
                return 'None'  # Return None if no match is found
    except:
        return 'None'
train_data['max_power'] = train_data['max_power'].apply(transform_max_power)

In [404]:
train_data['max_power']

0         80
1         90
2        120
3        170
4         80
        ...
13951    200
13952     80
13953    110
13954     90
13955     90
Name: max_power, Length: 13815, dtype: object

In [405]:
#seats - No problems to solve
train_data['seats']

0        5.0
1        5.0
2        5.0
3        7.0
4        5.0
        ...
13951    7.0
13952    5.0
13953    5.0
13954    5.0
13955    5.0
Name: seats, Length: 13815, dtype: float64

In [406]:
train_data['seats'].unique()

array([ 5.,  7.,  4.,  6.,  8.,  9.,  2., nan, 10.])

In [407]:
#mileage
train_data['mileage']

0        23.84 kmpl
1         17.5 kmpl
2         17.4 kmpl
3        14.08 kmpl
4         21.4 kmpl
            ...
13951    14.11 kmpl
13952     18.6 kmpl
13953    21.13 kmpl
13954     24.3 kmpl
13955       18 kmpl
Name: mileage, Length: 13815, dtype: object

In [408]:
train_data['mileage'].unique()

array(['23.84 kmpl', '17.5 kmpl', '17.4 kmpl', '14.08 kmpl', '21.4 kmpl',
       '17.66 kmpl', '17.52 kmpl', '16.09 kmpl', '22.48 kmpl',
       '18.24 kmpl', '21.74 kmpl', '19.27 kmpl', '23.01 kmpl',
       '21.5 kmpl', '22.38 kmpl', '18 kmpl', '22.41 kmpl', '11 kmpl',
       '27.39 kmpl', '16.55 kmpl', '19 kmpl', '23.59 kmpl', '15.1 kmpl',
       '18.6 kmpl', nan, '20.36 kmpl', '16.38 kmpl', '18.2 kmpl',
       '22.77 kmpl', '17 kmpl', '17.6 kmpl', '18.15 kmpl', '19.34 kmpl',
       '11.3 kmpl', '20.7 kmpl', '22.9 kmpl', '14.84 kmpl', '20.71 kmpl',
       '17.7 kmpl', '15.8 kmpl', '17.05 kmpl', '18.16 kmpl', '16 kmpl',
       '18.7 kmpl', '14.8 kmpl', '15.74 kmpl', '18.3 kmpl', '15.6 kmpl',
       '15.68 kmpl', '18.9 kmpl', '24.2 kmpl', '14.11 kmpl', '16.35 kmpl',
       '22.05 kmpl', '17.01 kmpl', '23.95 kmpl', '19.17 kmpl',
       '17.8 kmpl', '20 kmpl', '26.1 kmpl', '19.67 kmpl', '12.8 kmpl',
       '22.07 kmpl', '26.2 kmpl', '18.06 kmpl', '14.5 kmpl', '34.05 kmpl',
       '20.51 kmpl', '33 kmpl', '13.68 kmpl', '16.36 kmpl', '25.8 kmpl',
       '17.3 kmpl', '21.21 kmpl', '16.47 kmpl', '13.9 kmpl', '23 kmpl',
       '20.3 kmpl', '23.1 kmpl', '23.2 kmpl', '23.65 kmpl', '21.9 kmpl',
       '19.81 kmpl', '30.48 km/kg', '32.52 kmpl', '18.88 kmpl',
       '33.54 kmpl', '12.95 kmpl', '24.7 kmpl', '14.1 kmpl',
       '21.94 km/kg', '20.89 kmpl', '22.74 kmpl', '20.14 kmpl',
       '20.92 kmpl', '13.79 kmpl', '21.1 kmpl', '22.54 kmpl',
       '18.97 kmpl', '17.21 kmpl', '17.92 kmpl', '25.2 kmpl', '19.7 kmpl',
       '24.3 kmpl', '18.41 kmpl', '25.24 kmpl', '21.79 kmpl', '19.3 kmpl',
       '19.6 kmpl', '17.36 kmpl', '12.55 kmpl', '20.8 kmpl', '19.01 kmpl',
       '24 kmpl', '14.67 kmpl', '22.3 kmpl', '15.37 kmpl', '19.4 kmpl',
       '13.5 kmpl', '22.1 kmpl', '28.4 kmpl', '20.4 kmpl', '22 kmpl',
       '14.7 kmpl', '26.6 kmpl', '18.1 kmpl', '17.11 kmpl', '10.91 kmpl',
       '20.45 kmpl', '15.64 kmpl', '16.8 kmpl', '20.08 kmpl', '20.5 kmpl',
       '20.1 kmpl', '15.29 kmpl', '20.73 kmpl', '9.4 kmpl', '19.02 kmpl',
       '13 kmpl', '18.5 kmpl', '19.56 kmpl', '13.93 kmpl', '14.82 kmpl',
       '14.47 kmpl', '25.44 kmpl', '19.33 kmpl', '21.01 kmpl',
       '16.2 kmpl', '31.79 kmpl', '26.59 kmpl', '17.29 kmpl', '19.1 kmpl',
       '13.96 kmpl', '17.03 kmpl', '26 kmpl', '12.07 kmpl', '19.15 kmpl',
       '17.69 kmpl', '17.43 kmpl', '12.7 kmpl', '10.1 kmpl', '26.3 kmpl',
       '16.1 kmpl', '13.7 kmpl', '25.01 kmpl', '19.16 kmpl', '28.09 kmpl',
       '16.82 kmpl', '31.2 kmpl', '13.24 kmpl', '21.7 kmpl', '15.26 kmpl',
       '17.1 kmpl', '20.77 kmpl', '16.9 kmpl', '12.99 kmpl', '21.72 kmpl',
       '22.7 kmpl', '24.39 kmpl', '16.77 kmpl', '17.84 kmpl', '13.6 kmpl',
       '25.4 kmpl', '28 km/kg', '25 kmpl', '19.5 kmpl', '14.3 kmpl',
       '18.78 kmpl', '16.5 kmpl', '25.83 kmpl', '15.85 kmpl',
       '16.46 kmpl', '24.76 kmpl', '12.2 kmpl', '15.7 kmpl', '17.57 kmpl',
       '23.7 kmpl', '18.49 kmpl', '16.98 kmpl', '19.2 kmpl', '18.23 kmpl',
       '14.6 kmpl', '23.08 kmpl', '18.27 kmpl', '18.56 kmpl', '17.9 kmpl',
       '25.5 kmpl', '16.24 kmpl', '21.14 kmpl', '10.75 kmpl',
       '21.64 kmpl', '20.62 kmpl', '15.73 kmpl', '15.43 kmpl',
       '20.68 kmpl', '14.21 kmpl', '18.19 kmpl', '16.42 kmpl',
       '33.44 kmpl', '15 kmpl', '13.2 kmpl', '23.4 kmpl', '21.46 kmpl',
       '17.33 kmpl', '25.17 kmpl', '20.97 kmpl', '13.4 kmpl',
       '16.93 kmpl', '27.28 kmpl', '14.71 kmpl', '19.47 kmpl',
       '11.74 kmpl', '19.49 kmpl', '12.5 kmpl', '17.14 kmpl',
       '18.07 kmpl', '12.18 kmpl', '14.025 kmpl', '20.52 kmpl',
       '18.45 kmpl', '13.73 kmpl', '27.3 kmpl', '24.52 kmpl',
       '25.32 kmpl', '26.49 kmpl', '11.9 kmpl', '23.5 kmpl', '12.9 kmpl',
       '11.36 kmpl', '18.8 kmpl', '16.56 kmpl', '16.14 kmpl',
       '20.09 kmpl', '16.65 kmpl', '26.32 kmpl', '20.04 kmpl',
       '17.19 kmpl', '19.12 kmpl', '11.1 kmpl', '14.53 kmpl',
       '19.87 kmpl', '22.94 kmpl', '20.65 kmpl', '22.35 kmpl',
       '14.74 kmpl', '20.85 kmpl', '18.12 kmpl', '19.44 kmpl',
       '20.37 kmpl', '21.66 kmpl', '17.74 kmpl', '14.38 kmpl',
       '19.69 kmpl', '16.3 kmpl', '11.79 kmpl', '22.5 kmpl', '15.04 kmpl',
       '22.95 kmpl', '17.41 kmpl', '19.28 kmpl', '16.02 kmpl',
       '24.04 kmpl', '20.38 kmpl', '15.96 kmpl', '17.2 kmpl',
       '14.28 kmpl', '10.5 kmpl', '23.64 kmpl', '21.19 kmpl',
       '22.15 kmpl', '18.75 kmpl', '21.3 kmpl', '16.95 kmpl',
       '23.57 kmpl', '22.69 kmpl', '22.56 kmpl', '15.4 kmpl',
       '22.32 kmpl', '11.24 kmpl', '13.38 kmpl', '14.4 kmpl',
       '17.99 kmpl', '20.28 kmpl', '13.8 kmpl', '19.95 kmpl',
       '17.68 kmpl', '21.56 kmpl', '12 kmpl', '21.63 kmpl', '12.6 kmpl',
       '23.9 kmpl', '11.7 kmpl', '26.11 km/kg', '26.55 kmpl', '8 kmpl',
       '22.61 kmpl', '26.08 km/kg', '31.59 km/kg', '20.88 km/kg',
       '25.6 kmpl', '25.1 kmpl', '16.25 kmpl', '12.05 kmpl',
       '30.47 km/kg', '11.88 kmpl', '15.5 kmpl', '35.6 km/kg',
       '14.2 kmpl', '15.17 kmpl', '15.2 kmpl', '21.76 kmpl', '11.57 kmpl',
       '14.07 kmpl', '11.5 kmpl', '15.3 kmpl', '19.59 kmpl', '8.9 kmpl',
       '140 kmpl', '15.81 kmpl', '22.27 kmpl', '24.5 kmpl', '13.22 kmpl',
       '26.49 km/kg', '18.76 kmpl', '10.2 kmpl', '24.35 kmpl',
       '27.97 kmpl', '11.2 kmpl', '15.97 kmpl', '10.93 kmpl',
       '19.62 kmpl', '18.53 kmpl', '26.68 kmpl', '11.49 kmpl',
       '10.9 kmpl', '14.69 kmpl', '19.83 kmpl', '18.4 kmpl', '21 kmpl',
       '19.8 kmpl', '18.09 kmpl', '16.96 kmpl', '13.17 kmpl',
       '20.54 kmpl', '26.8 kmpl', '17.42 kmpl', '9.6 kmpl', '21.43 kmpl',
       '17.88 kmpl', '16.13 kmpl', '23.8 kmpl', '10.54 kmpl',
       '31.12 kmpl', '16.05 kmpl', '12.3 kmpl', '18.86 kmpl',
       '22.71 kmpl', '14.72 kmpl', '14.16 kmpl', '14.99 kmpl',
       '23.03 kmpl', '19.08 kmpl', '16.07 kmpl', '17.32 kmpl',
       '20.63 kmpl', '19.03 kmpl', '13.01 kmpl', '22.25 kmpl',
       '27.4 kmpl', '11.4 kmpl', '14 kmpl', '24.97 kmpl', '12.4 kmpl',
       '21.49 kmpl', '21.38 kmpl', '24.8 kmpl', '12.74 kmpl',
       '25.47 kmpl', '19.71 kmpl', '18.55 kmpl', '18.33 kmpl',
       '14.49 kmpl', '16.73 kmpl', '12.65 kmpl', '21.1 km/kg',
       '19.68 kmpl', '17.71 kmpl', '15.38 kmpl', '21.02 kmpl',
       '12.81 kmpl', '20.58 kmpl', '16.78 kmpl', '16.34 kmpl', '120 kmpl',
       '12.62 kmpl', '13.03 kmpl', '13.04 kmpl', '18.51 kmpl',
       '21.12 kmpl', '6.7 kmpl', '21.04 kmpl', '26.83 kmpl', '110 kmpl',
       '20.34 kmpl', '14.62 kmpl', '15.41 kmpl', '7.81 kmpl', '15.9 kmpl',
       '14.24 kmpl', '11.81 kmpl', '11.67 kmpl', '13.47 kmpl',
       '12.33 kmpl', '26.21 kmpl', '15.63 kmpl', '19.89 kmpl',
       '18.48 kmpl', '8.5 kmpl', '26.6 km/kg', '19.72 kmpl', '14.9 kmpl',
       '18.25 kmpl', '24.4 kmpl', '23.22 kmpl', '9.8 kmpl', '21.13 kmpl',
       '9.5 kmpl', '20.86 kmpl', '27 kmpl', '14.19 kmpl', '18.05 kmpl',
       '11.33 kmpl', '16.94 kmpl', '9.2 kmpl', '23.3 kmpl', '13.49 kmpl',
       '14.41 kmpl', '20.25 kmpl', '15.15 kmpl', '12.35 kmpl',
       '17.45 kmpl', '32.26 kmpl', '15.34 kmpl', '12.98 kmpl',
       '14.01 kmpl', '9.74 kmpl', '16.6 kmpl', '20.15 kmpl', '19.39 kmpl',
       '16.11 kmpl', '23.56 kmpl', '15.01 kmpl', '10.6 kmpl',
       '12.83 kmpl', '14.75 kmpl', '10.8 kmpl', '15.56 kmpl', '36 kmpl',
       '21.73 kmpl', '11.07 kmpl', '17.72 kmpl', '7.08 kmpl',
       '19.64 kmpl', '18.67 kmpl', '20.64 kmpl', '18.44 kmpl',
       '19.05 kmpl', '18.42 kmpl', '8.6 kmpl', '26.5 kmpl', '14.85 kmpl',
       '30.46 kmpl', '26.11 kmpl', '13.06 kmpl', '18.32 kmpl',
       '19.65 kmpl', '25.35 kmpl', '17.54 kmpl', '16.7 kmpl',
       '11.78 kmpl', '24.1 kmpl', '9.43 kmpl', '24.07 kmpl', '22.8 kmpl',
       '9 kmpl', '12.63 kmpl', '16.72 kmpl', '10.7 kmpl', '13.14 kmpl',
       '14.81 kmpl', '12.51 kmpl', '13.1 kmpl', '17.97 kmpl',
       '12.28 kmpl', '20.27 kmpl', '27.03 kmpl', '12.78 kmpl',
       '21.8 kmpl', '12.1 kmpl', '19.98 kmpl', '21.27 kmpl', '13.32 kmpl',
       '14.23 kmpl', '13.87 kmpl', '26.78 km/kg', '14.34 kmpl',
       '11.96 kmpl', '16.39 kmpl', '14.94 kmpl', '16.4 kmpl', '8.8 kmpl',
       '25.3 kmpl', '11.86 kmpl', '23.87 kmpl', '22.37 kmpl',
       '19.09 kmpl', '10.26 kmpl', '12.04 kmpl', '11.8 kmpl',
       '14.66 kmpl', '19.61 kmpl', '17.09 kmpl', '18.47 kmpl',
       '17.85 kmpl', '14.95 kmpl', '13.45 kmpl', '11.18 kmpl',
       '12.19 kmpl', '17.67 kmpl', '14.83 kmpl', '20.46 kmpl',
       '18.9 km/kg', '13.44 kmpl', '12.12 kmpl', '26.55 km/kg', '10 kmpl',
       '11.25 kmpl', '18.84 kmpl', '21.58 kmpl', '24.43 kmpl',
       '18.69 kmpl', '13.58 kmpl', '18.64 kmpl', '19.23 kmpl',
       '9.26 kmpl', '26.82 kmpl', '12.97 kmpl', '8.7 kmpl', '13.33 kmpl',
       '25.19 kmpl', '8.13 kmpl', '13.05 kmpl', '15.11 kmpl',
       '10.98 kmpl', '8.45 kmpl', '18.43 kmpl'], dtype=object)

In [409]:
def convert_mileage(x):
    try:
        if x.endswith('kmpl'):
            return str(2*round(1/2*float(str(x).rstrip(' kmpl'))))
        elif x.endswith('km/kg'):
            return str(2*round(1/2*float(0.737*str(x).rstrip(' km/kg')))) # 0.737 for petrol
    except:
        return 'None'
train_data['mileage'] = train_data['mileage'].apply(convert_mileage)

In [410]:
train_data['mileage']

0        24
1        18
2        18
3        14
4        22
         ..
13951    14
13952    18
13953    22
13954    24
13955    18
Name: mileage, Length: 13815, dtype: object

In [411]:
train_data['body_type']

0        Hatchback
1              SUV
2            Sedan
3              SUV
4        Hatchback
           ...
13951          MUV
13952    Hatchback
13953        Sedan
13954          SUV
13955        Sedan
Name: body_type, Length: 13815, dtype: object

In [412]:
train_data['body_type'].unique()

array(['Hatchback', 'SUV', 'Sedan', 'BMW', 'MUV', 'Maruti', 'Minivans',
       'Mercedes-Benz', 'Cars', 'Coupe', 'Jaguar', 'Wagon', 'Datsun',
       'Pickup', 'Tata', 'Honda', 'Convertibles', 'Hyundai', 'Mahindra',
       'Volvo', 'Toyota', 'Isuzu', 'Skoda', 'Chevrolet'], dtype=object)

In [413]:
# Define the mapping of values to categories
#brand_mapping = {#'BMW': 'Brand', 'Maruti': 'Brand', 'Mercedes-Benz': 'Brand', 'Jaguar': 'Brand', 'Datsun': 'Brand',
                 #'Tata': 'Brand', 'Honda': 'Brand', 'Mahindra': 'Brand', 'Volvo': 'Brand', 'Toyota': 'Brand',
                 #'Isuzu': 'Brand', 'Chevrolet': 'Brand',
                 #'Hatchback': 'Body Category', 'SUV': 'Body Category',
                 #'Sedan': 'Body Category', 'MUV': 'Body Category', 'Minivans': 'Body Category', 'Coupe': 'Body Category',
                 #'Wagon': 'Body Category', 'Pickup': 'Body Category', 'Convertibles': 'Body Category'}

# Replace values in 'body_type' column using the mapping
#df['body_type'] = df['body_type'].replace(brand_mapping)

# Print the updated 'body_type' column
#print(df['body_type'].unique())

In [414]:
train_data['body_type']

0        Hatchback
1              SUV
2            Sedan
3              SUV
4        Hatchback
           ...
13951          MUV
13952    Hatchback
13953        Sedan
13954          SUV
13955        Sedan
Name: body_type, Length: 13815, dtype: object

In [415]:
#city - No problems to solve
train_data['city']

0             Pune
1           Jaipur
2           Mumbai
3           Mumbai
4          Kolkata
           ...
13951    Hyderabad
13952      Gurgaon
13953    Hyderabad
13954    Bangalore
13955    Bangalore
Name: city, Length: 13815, dtype: object

In [416]:
train_data['city'].unique()

array(['Pune', 'Jaipur', 'Mumbai', 'Kolkata', 'Delhi', 'Bangalore',
       'Hyderabad', 'Chennai', 'Gurgaon', 'Chandigarh', 'Ahmedabad',
       'Lucknow', 'Agra'], dtype=object)

In [417]:
train_data.head()

,full_name,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,resale_price_Lakh
0,2019 Tata Tiago XZ Plus,2019,1199,Third Party,Manual,30910,First Owner,Petrol,80,5.0,24,Hatchback,Pune,5.66
1,2018 Honda WR-V i-VTEC VX,2018,1199,Zero Dep,Manual,48089,Third Owner,Petrol,90,5.0,18,SUV,Jaipur,6.64
2,2015 Honda City i VTEC SV,2015,1497,Third Party insurance,Manual,51000,Second Owner,Petrol,120,5.0,18,Sedan,Mumbai,5.65
3,2021 Tata New Safari XZA Plus Adventure Editio...,2021,1956,Third Party insurance,Automatic,30000,First Owner,Diesel,170,7.0,14,SUV,Mumbai,23.00
4,2019 Maruti Baleno 1.2 CVT Zeta,2019,1197,Zero Dep,Automatic,61113,First Owner,Petrol,80,5.0,22,Hatchback,Kolkata,6.87

In [418]:
train_data['insurance'].unique()

array(['Third Party', 'Zero Dep', 'Third Party insurance',
       'Comprehensive', 'Not Available', '1', '2', nan], dtype=object)

In [419]:
train_data['insurance'].fillna("None", inplace=True)

In [420]:
#Insurance one-hot enconding
train_data = train_data.join(pd.get_dummies(train_data.insurance,dtype=int)).drop(['insurance'], axis=1)

In [421]:
train_data['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [422]:
#transmission_type one-hot encoding
train_data = train_data.join(pd.get_dummies(train_data.transmission_type,dtype=int)).drop(['transmission_type'],axis=1)

In [423]:
train_data['owner_type'].unique()

array(['First Owner', 'Third Owner', 'Second Owner', 'Fifth Owner',
       'Fourth Owner', nan], dtype=object)

In [424]:
train_data['owner_type'].fillna("Unknown", inplace=True)

In [425]:
#owner_type One-hot-encoding
train_data = train_data.join(pd.get_dummies(train_data.owner_type,dtype=int)).drop(['owner_type'],axis=1)

In [426]:
train_data['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'Electric', 'LPG'], dtype=object)

In [427]:
#fuel_type One-hot encoding
train_data = train_data.join(pd.get_dummies(train_data.fuel_type,dtype=int)).drop(['fuel_type'],axis=1)

In [428]:
train_data['body_type'].unique()

array(['Hatchback', 'SUV', 'Sedan', 'BMW', 'MUV', 'Maruti', 'Minivans',
       'Mercedes-Benz', 'Cars', 'Coupe', 'Jaguar', 'Wagon', 'Datsun',
       'Pickup', 'Tata', 'Honda', 'Convertibles', 'Hyundai', 'Mahindra',
       'Volvo', 'Toyota', 'Isuzu', 'Skoda', 'Chevrolet'], dtype=object)

In [429]:
#body_type One-hot encoding
train_data = train_data.join(pd.get_dummies(train_data.body_type,dtype=int)).drop(['body_type'],axis=1)

In [430]:
train_data['city'].unique()

array(['Pune', 'Jaipur', 'Mumbai', 'Kolkata', 'Delhi', 'Bangalore',
       'Hyderabad', 'Chennai', 'Gurgaon', 'Chandigarh', 'Ahmedabad',
       'Lucknow', 'Agra'], dtype=object)

In [431]:
#city One-hot encoding
train_data = train_data.join(pd.get_dummies(train_data.city,dtype=int)).drop(['city'],axis=1)

In [432]:
train_data['full_name'].unique()

array(['2019 Tata Tiago XZ Plus', '2018 Honda WR-V i-VTEC VX',
       '2015 Honda City i VTEC SV', ..., '2020 Hyundai Venue S Diesel',
       '2019 Renault Duster 110PS Diesel RxS AMT',
       '2017 Honda Jazz 1.2 E i VTEC'], dtype=object)

In [433]:
train_data['registered_year'].unique()

array(['2019', '2018', '2015', '2021', '2017', '2013', '2016', '2012',
       '2022', '2011', '2020', '2014', '2010', '2009', '2007', '2023',
       '2008', nan, '2004', '2005', '2002', '2006', '2003'], dtype=object)

In [434]:
#Create a new column 'ID' with sequential IDs starting from 1
train_data['ID'] = range(0, len(train_data))

#Print the updated DataFrame
train_data.head()

,full_name,registered_year,engine_capacity,kms_driven,max_power,seats,mileage,resale_price_Lakh,1,2,...,Chennai,Delhi,Gurgaon,Hyderabad,Jaipur,Kolkata,Lucknow,Mumbai,Pune,ID
0,2019 Tata Tiago XZ Plus,2019,1199,30910,80,5.0,24,5.66,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2018 Honda WR-V i-VTEC VX,2018,1199,48089,90,5.0,18,6.64,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2015 Honda City i VTEC SV,2015,1497,51000,120,5.0,18,5.65,0,0,...,0,0,0,0,0,0,0,1,0,2
3,2021 Tata New Safari XZA Plus Adventure Editio...,2021,1956,30000,170,7.0,14,23.00,0,0,...,0,0,0,0,0,0,0,1,0,3
4,2019 Maruti Baleno 1.2 CVT Zeta,2019,1197,61113,80,5.0,22,6.87,0,0,...,0,0,0,0,0,1,0,0,0,4

In [435]:
#Alternatively, you can use the inplace parameter to modify the DataFrame in place
train_data.drop('full_name', axis=1, inplace=True)

# Print the updated DataFrame
train_data.head()

,registered_year,engine_capacity,kms_driven,max_power,seats,mileage,resale_price_Lakh,1,2,Comprehensive,...,Chennai,Delhi,Gurgaon,Hyderabad,Jaipur,Kolkata,Lucknow,Mumbai,Pune,ID
0,2019,1199,30910,80,5.0,24,5.66,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2018,1199,48089,90,5.0,18,6.64,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2015,1497,51000,120,5.0,18,5.65,0,0,0,...,0,0,0,0,0,0,0,1,0,2
3,2021,1956,30000,170,7.0,14,23.00,0,0,0,...,0,0,0,0,0,0,0,1,0,3
4,2019,1197,61113,80,5.0,22,6.87,0,0,0,...,0,0,0,0,0,1,0,0,0,4

In [436]:
train_data.shape

(13815, 66)

In [437]:
train_data.isna().sum()

registered_year     53
engine_capacity      9
kms_driven           3
max_power          261
seats                7
                  ...
Kolkata              0
Lucknow              0
Mumbai               0
Pune                 0
ID                   0
Length: 66, dtype: int64

In [438]:
train_data.dropna(inplace=True)

In [439]:
train_data.isna().sum()

registered_year    0
engine_capacity    0
kms_driven         0
max_power          0
seats              0
                  ..
Kolkata            0
Lucknow            0
Mumbai             0
Pune               0
ID                 0
Length: 66, dtype: int64

In [440]:
train_data.shape

(13485, 66)

In [441]:
data_before_hot_encoding = train_data.to_csv("databeforeencoding.csv",index=False)

In [442]:
train_data.to_csv('./TrainDataScenario1.csv',index=False)