In [1]:
import pandas as pd

In [2]:
test_data = pd.read_csv('./test.csv')
test_data.head()

,full_name,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,ID
0,2017 Hyundai Grand i10 1.2 Kappa Sportz Option,Jun 2017,1197 cc,Comprehensive,Manual,"53,658 Kms",First Owner,Petrol,81.86bhp,5.0,18.9 kmpl,Hatchback,Mumbai,0
1,2020 Maruti Swift AMT VXI,Feb 2021,1197 cc,Not Available,Automatic,"33,055 Kms",Second Owner,Petrol,81.80bhp,5.0,21.21 kmpl,Hatchback,Jaipur,1
2,2010 Maruti Zen Estilo LX BSIII,Jul 2010,998 cc,Third Party,Manual,"90,385 Kms",Third Owner,Petrol,67.1bhp,5.0,18.2 kmpl,Hatchback,Chandigarh,2
3,2010 Maruti Alto LXi,2010,796 cc,Third Party insurance,Manual,"1,10,000 Kms",First Owner,Petrol,46.3bhp,5.0,19.7 kmpl,Hatchback,Delhi,3
4,2018 Hyundai i20 Active S Petrol,Oct 2018,1197 cc,Comprehensive,Manual,"58,000 Kms",Second Owner,Petrol,81.86bhp,5.0,17.19 kmpl,Hatchback,Delhi,4

In [3]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3490 entries, 0 to 3489
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          3490 non-null   object
 1   registered_year    3475 non-null   object
 2   engine_capacity    3485 non-null   object
 3   insurance          3488 non-null   object
 4   transmission_type  3490 non-null   object
 5   kms_driven         3490 non-null   object
 6   owner_type         3481 non-null   object
 7   fuel_type          3490 non-null   object
 8   max_power          3477 non-null   object
 9   seats              3487 non-null   float64
 10  mileage            3389 non-null   object
 11  body_type          3490 non-null   object
 12  city               3490 non-null   object
 13  ID                 3490 non-null   int64
dtypes: float64(1), int64(1), object(12)
memory usage: 381.8+ KB

In [4]:
test_data.duplicated().sum()

0

In [5]:
test_data.isna().sum()

full_name              0
registered_year       15
engine_capacity        5
insurance              2
transmission_type      0
kms_driven             0
owner_type             9
fuel_type              0
max_power             13
seats                  3
mileage              101
body_type              0
city                   0
ID                     0
dtype: int64

In [6]:
#Transform registered_year
test_data['registered_year']

0       Jun 2017
1       Feb 2021
2       Jul 2010
3           2010
4       Oct 2018
          ...
3485        2022
3486    Apr 2017
3487    Dec 2017
3488    Jun 2016
3489    Mar 2017
Name: registered_year, Length: 3490, dtype: object

In [7]:
# Extract the year using a regular expression
test_data['registered_year'] = test_data['registered_year'].str.extract(r'(\d{4})')

# Display the updated DataFrame
test_data['registered_year']

0       2017
1       2021
2       2010
3       2010
4       2018
        ...
3485    2022
3486    2017
3487    2017
3488    2016
3489    2017
Name: registered_year, Length: 3490, dtype: object

In [8]:
#Transform engine_capacity
test_data['engine_capacity']

0       1197 cc
1       1197 cc
2        998 cc
3        796 cc
4       1197 cc
         ...
3485        NaN
3486     999 cc
3487    1497 cc
3488    1199 cc
3489    1197 cc
Name: engine_capacity, Length: 3490, dtype: object

In [9]:
# Extract the numeric part using a regular expression
test_data['engine_capacity'] = test_data['engine_capacity'].str.rstrip(' cc')

# Display the updated DataFrame
test_data['engine_capacity']

0       1197
1       1197
2        998
3        796
4       1197
        ...
3485     NaN
3486     999
3487    1497
3488    1199
3489    1197
Name: engine_capacity, Length: 3490, dtype: object

In [10]:
#Transform insurance
test_data['insurance']

0               Comprehensive
1               Not Available
2                 Third Party
3       Third Party insurance
4               Comprehensive
                ...
3485    Third Party insurance
3486    Third Party insurance
3487            Comprehensive
3488            Comprehensive
3489            Comprehensive
Name: insurance, Length: 3490, dtype: object

In [11]:
#Check values
test_data['insurance'].unique()

array(['Comprehensive', 'Not Available', 'Third Party',
       'Third Party insurance', 'Zero Dep', nan], dtype=object)

In [12]:
#Transmission_type - No problems to solve
test_data['transmission_type']

0          Manual
1       Automatic
2          Manual
3          Manual
4          Manual
          ...
3485    Automatic
3486       Manual
3487       Manual
3488       Manual
3489       Manual
Name: transmission_type, Length: 3490, dtype: object

In [13]:
test_data['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [14]:
#Kms_driven
test_data['kms_driven']

0         53,658 Kms
1         33,055 Kms
2         90,385 Kms
3       1,10,000 Kms
4         58,000 Kms
            ...
3485      30,000 Kms
3486      64,024 Kms
3487      39,000 Kms
3488      33,000 Kms
3489      14,097 Kms
Name: kms_driven, Length: 3490, dtype: object

In [15]:
test_data['kms_driven'].unique()

array(['53,658 Kms', '33,055 Kms', '90,385 Kms', ..., '94,868 Kms',
       '64,024 Kms', '14,097 Kms'], dtype=object)

In [16]:
# Remove 'Kms' and commas, convert to numeric
test_data['kms_driven'] = test_data['kms_driven'].str.replace(' Kms', '').str.replace(',', '')

# Check the unique values again
test_data['kms_driven'].unique()

array(['53658', '33055', '90385', ..., '94868', '64024', '14097'],
      dtype=object)

In [17]:
#Owner_Type - No errors to solve
test_data['owner_type']

0        First Owner
1       Second Owner
2        Third Owner
3        First Owner
4       Second Owner
            ...
3485     First Owner
3486     First Owner
3487     First Owner
3488     First Owner
3489    Second Owner
Name: owner_type, Length: 3490, dtype: object

In [18]:
test_data['owner_type'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', nan, 'Fourth Owner',
       'Fifth Owner'], dtype=object)

In [19]:
#Fuel_type - No errors to solve
test_data['fuel_type']

0         Petrol
1         Petrol
2         Petrol
3         Petrol
4         Petrol
          ...
3485    Electric
3486      Petrol
3487      Petrol
3488      Petrol
3489      Petrol
Name: fuel_type, Length: 3490, dtype: object

In [20]:
test_data['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'Electric', 'LPG'], dtype=object)

In [21]:
#Max_Power
test_data['max_power']

0       81.86bhp
1       81.80bhp
2        67.1bhp
3        46.3bhp
4       81.86bhp
          ...
3485    73.75bhp
3486       67bhp
3487    117.3bhp
3488     88.7bhp
3489    88.50bhp
Name: max_power, Length: 3490, dtype: object

In [22]:
test_data['max_power'].unique()

array(['81.86bhp', '81.80bhp', '67.1bhp', '46.3bhp', '174.5bhp',
       '58.33bhp', '138.1bhp', '84bhp', '88.7bhp', '117.6bhp', '68.05bhp',
       '85.80bhp', '175.56bhp', '121.3bhp', '140bhp', '82bhp', '35 bhp',
       '103.6bhp', '117.3bhp', '103bhp', '108.5bhp', '103.2bhp', '194bhp',
       '62.1bhp', '140.8bhp', '88.50bhp', '55.2bhp', '80 PS at 5200 rpm',
       '67.04bhp', '187.74bhp', '83.1bhp', '113.98bhp', '85.8bhp',
       '261.49bhp', '178.49bhp', '74bhp', '84.82bhp', '86.63bhp',
       '86.7bhp', '58.16bhp', '108.62bhp', '103.5bhp', '147.9bhp',
       '98.6bhp', '86.8bhp', '177bhp', '90 PS', '187.7bhp', '80.46bhp',
       '58bhp', '184bhp', '171.5bhp', '100 bhp', '118PS at 6,600 rpm',
       '103.26bhp', '160.77bhp', '103.25bhp', '245bhp', '170bhp',
       '174.3bhp', '74.02bhp', '170PS', '241.4bhp', '83.8bhp',
       '167.67bhp', '113.4bhp', '147.5bhp', '53.3bhp', '73.97bhp',
       '174.33bhp', '88.8bhp', '138.08bhp', '47.33bhp', '81.83bhp',
       '120.69bhp', '83.83bhp', '152.87bhp', '86.83bhp', '130.2bhp',
       '91.1bhp', '88.76bhp', '113.43bhp', '172.35bhp', '103.52bhp',
       '78.9bhp', '55.92bhp', '246.7bhp', '67.05bhp', '120bhp',
       '65.71bhp', '71.02bhp', '258bhp', '241.3bhp', nan, '500bhp',
       '75bhp', '248.08bhp', '170', '67bhp', '141bhp', '88.5bhp',
       '119.35bhp', '153.81bhp', '113.42bhp', '65', '100.6bhp',
       '53.64bhp', '98.96bhp', '83.14bhp', '73.94bhp', '80', '58.2bhp',
       '118.35bhp', '143bhp', '82.85bhp', '126.2bhp', '99bhp', '62bhp',
       '37bhp', '83.11bhp', '114bhp', '168.5bhp', '108.45bhp', '108.6bhp',
       '77bhp', '121bhp', '68bhp', '108.49bhp', '170.63bhp', '147.51bhp',
       '97.89bhp', '70bhp', '160.92bhp', '73.75bhp', '167.62bhp',
       '113.18bhp', '177', '97.6bhp', '101.65bhp', '88.73bhp', '98.63bhp',
       '100bhp', '89.84bhp', '181bhp', '215bhp', '88bhp', '73.9bhp',
       '98.59bhp', '105.94bhp', '163.60bhp', '110bhp', '204bhp', '150bhp',
       '112bhp', '149.92bhp', '37.5bhp', '197.2bhp', '148bhp', '177.6bhp',
       '104.5bhp', '112bhp at 3800 rpm', '384.87bhp', '47.3bhp',
       '121.4bhp', '67.72bhp', '120.96bhp', '73bhp', '178', '78',
       '197.13bhp', '84.8bhp', '102', '189.08bhp', '118.36bhp',
       '156.9bhp', '138.03bhp', '172.45bhp', '113.45bhp', '191.7bhp',
       '245.4bhp', '72bhp', '91.19bhp', '136bhp', '197bhp', '174.33',
       '103.39bhp', '254.79bhp', '100.57bhp', '168.7bhp', '136.78bhp',
       '115.05bhp', '126.32bhp', '188bhp', '83.81bhp', '254.8bhp',
       '75.09bhp', '100PS at 5,500rpm', '72.41bhp', '140', '187.40bhp',
       '130bhp', '138.12bhp', '79.4bhp', '121.36bhp', '130.3bhp',
       '71.01bhp', '53.26bhp', '90bhp', '194.3bhp', '70.67bhp',
       '117.60bhp', '72.40bhp', '53.5', '82.9bhp', '163.7bhp', '115bhp',
       '203bhp', '235bhp', '88 PS', '138.05bhp', '153.86bhp', '108.50bhp',
       '162bhp', '127bhp', '66.1bhp', '85ps', '116.4bhp', '171 PS', '105',
       '190bhp', '88.77bhp', '63', '154bhp', '160bhp', '210', '70', '94',
       '76.8bhp', '99.6bhp', '90(66)', '158bhp', '78.8bhp', '104.55bhp',
       '82.4bhp', '201.15bhp', '183bhp', '152 PS', '91.18bhp',
       '63 HP at 3200 rpm', '271.2bhp', '182.46bhp', '108.48bhp',
       '106 bhp', '70 bhp at 5400 rpm', '194.4bhp', '158.2bhp', '218bhp',
       '71bhp', '70.40Bhp', '252bhp', '40.36bhp', '89.75bhp', '116.3bhp',
       '70 bhp at 4000 rpm', '69bhp', '86.80bhp', '155bhp', '203.2bhp',
       '114.41bhp', '90PS at 4000rpm', '241.38bhp', '93.7bhp', '75PS',
       '38.4bhp', '93.87bhp', '156.82bhp', '181.04bhp', '246.74bhp',
       '180', '257.47bhp', '301.73bhp', '105PS', '231.1', '178bhp',
       '57.6bhp', '60 PS', '104.68', '281.61bhp', '120.3bhp', '187.4bhp',
       '150 ps 3850 rpm', '126.3bhp', '67.06bhp', '103.3bhp', '118.41bhp',
       '87.2bhp', '84.48bhp', '110', '37.48bhp', '68', '118bhp',
       '164.7bhp', '73.8bhp', '101', '94.93bhp', '64.1bhp', '148.31bhp',
       '66.7', '175.67bhp', '89bhp', '98.56bhp', '55 Bhp', '85.7bhp',
       '105bhp', '103.2', '147.8bhp', '121.31bhp', '108.495bhp',
       '167.68bhp', '80.9bhp', '97.9bhp', '118.3bhp', '270.9bhp',
       '147.94bhp', '138bhp', '112.4bhp', '237.36bhp', '105.5bhp',
       '379.7bhp', '118.68bhp', '258', '110.4bhp', '35 Bhp', '150.19bhp',
       '197.26bhp', '163.2', '157.8bhp', '157.81bhp', '168bhp', '75 PS',
       '198.25bhp', '59.18bhp', '76bhp', '313bhp', '75.10bhp', '333bhp',
       '63.1bhp', '61.68bhp', '182.38bhp', '97.7bhp', '402.30Bhpbhp',
       '138.02bhp', '165 [224] at 3800', '139.46bhp', '215.01bhp', '64',
       '130.07bhp', '48.21bhp', '248bhp', '75 PS at 4000 rpm', '98.82bhp',
       '66.6', '240bhp', '65 PS at 5500 rpm', '63bhp', '71 PS',
       '362.07bhp5500-6100bhp', '40bhp', '160 BHP', '123.24bhp',
       '40.3bhp', '177.46bhp', '25.4bhp', '335.25bhp', '134bhp',
       '147.4bhp', '167.6bhp', '163bhp', '167.63bhp', '86.76bhp', '75',
       '367bhp', '325.86bhp3600-4200rpm', '221.3bhp', '167.7bhp',
       '189.3bhp', '186bhp', '134hp', '214.5bhp', '94.68bhp', '92.7bhp',
       '212.55bhp', '82.9', '375.5bhp', '84.88bhp', '335bhp',
       '103.2 PS at 5500 RPM', '138.13bhp'], dtype=object)

In [23]:
import re
def transform_max_power(x):
    try:
        if 'bhp' in x:
            return str(10*round(1/10*float(x.rstrip('bhp'))))
        elif 'PS' in x:
            match = re.search(r'\d+', x)  # Match one or more digits
            if match:
                return str(10*round(1/10*float(match.group())))  # Extract and convert to an integer
            else:
                return 'None'  # Return None if no match is found
    except:
        return 'None'
test_data['max_power'] = test_data['max_power'].apply(transform_max_power)

In [24]:
test_data['max_power']

0        80
1        80
2        70
3        50
4        80
       ...
3485     70
3486     70
3487    120
3488     90
3489     90
Name: max_power, Length: 3490, dtype: object

In [25]:
#seats - No problems to solve
test_data['seats']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
3485    5.0
3486    5.0
3487    5.0
3488    5.0
3489    5.0
Name: seats, Length: 3490, dtype: float64

In [26]:
test_data['seats'].unique()

array([ 5.,  7.,  6., nan,  8.,  4.,  9., 14.,  2.])

In [27]:
#mileage
test_data['mileage']

0        18.9 kmpl
1       21.21 kmpl
2        18.2 kmpl
3        19.7 kmpl
4       17.19 kmpl
           ...
3485           NaN
3486    23.01 kmpl
3487     17.8 kmpl
3488     18.7 kmpl
3489    22.38 kmpl
Name: mileage, Length: 3490, dtype: object

In [28]:
test_data['mileage'].unique()

array(['18.9 kmpl', '21.21 kmpl', '18.2 kmpl', '19.7 kmpl', '17.19 kmpl',
       '14.24 kmpl', '32.52 kmpl', '11.57 kmpl', '23.84 kmpl',
       '17.5 kmpl', '17.4 kmpl', '20.3 kmpl', '22.1 kmpl', '18.5 kmpl',
       '13.5 kmpl', '15.29 kmpl', '16 kmpl', '14 kmpl', '20.54 kmpl',
       '18.69 kmpl', '15.04 kmpl', '17.01 kmpl', '21.5 kmpl', '20.7 kmpl',
       '16.09 kmpl', '17 kmpl', '12.6 kmpl', '17.92 kmpl', nan,
       '22.41 kmpl', '21.1 kmpl', '19.81 kmpl', '23.1 kmpl', '18.25 kmpl',
       '21.4 kmpl', '18.1 kmpl', '19.1 kmpl', '21.01 kmpl', '16.77 kmpl',
       '12.05 kmpl', '25.2 kmpl', '18 kmpl', '19.01 kmpl', '20.09 kmpl',
       '17.8 kmpl', '26.6 kmpl', '20.51 kmpl', '16.5 kmpl', '15 kmpl',
       '25.8 kmpl', '23.7 kmpl', '19.47 kmpl', '19.33 kmpl', '18.8 kmpl',
       '16.36 kmpl', '19.3 kmpl', '30.48 km/kg', '33.54 kmpl',
       '17.05 kmpl', '11.36 kmpl', '19 kmpl', '13 kmpl', '17.03 kmpl',
       '14.1 kmpl', '20.65 kmpl', '11.5 kmpl', '17.1 kmpl', '14.16 kmpl',
       '28.4 kmpl', '11.3 kmpl', '12.07 kmpl', '19.87 kmpl', '16.65 kmpl',
       '16.3 kmpl', '25.17 kmpl', '25.4 kmpl', '15.73 kmpl', '16.7 kmpl',
       '23.95 kmpl', '21 kmpl', '22.05 kmpl', '18.6 kmpl', '14.7 kmpl',
       '15.1 kmpl', '13.9 kmpl', '20.73 kmpl', '18.55 kmpl', '20.77 kmpl',
       '23.4 kmpl', '21.14 kmpl', '20.36 kmpl', '22.38 kmpl',
       '35.6 km/kg', '11.8 kmpl', '23.59 kmpl', '10.5 kmpl', '18.3 kmpl',
       '24.39 kmpl', '18.75 kmpl', '16.46 kmpl', '20.52 kmpl', '26 kmpl',
       '18.7 kmpl', '14.11 kmpl', '14.74 kmpl', '18.4 kmpl', '8.5 kmpl',
       '13.17 kmpl', '15.8 kmpl', '19.68 kmpl', '13.96 kmpl', '25.1 kmpl',
       '18.15 kmpl', '18.12 kmpl', '15.2 kmpl', '12.99 kmpl', '14.8 kmpl',
       '22.7 kmpl', '21.7 kmpl', '21.04 kmpl', '20.85 kmpl', '23.2 kmpl',
       '23.65 kmpl', '15.4 kmpl', '24.3 kmpl', '19.2 kmpl', '18.19 kmpl',
       '14.84 kmpl', '31.79 kmpl', '17.33 kmpl', '20.38 kmpl',
       '28.09 kmpl', '23.9 kmpl', '17.11 kmpl', '25.83 kmpl', '16.1 kmpl',
       '19.28 kmpl', '16.8 kmpl', '24.52 kmpl', '20.4 kmpl', '12.55 kmpl',
       '20.04 kmpl', '20.1 kmpl', '25.32 kmpl', '17.3 kmpl', '14.75 kmpl',
       '26.59 kmpl', '22.07 kmpl', '18.41 kmpl', '13.68 kmpl',
       '20.45 kmpl', '24 kmpl', '12.4 kmpl', '16.2 kmpl', '19.6 kmpl',
       '17.21 kmpl', '18.48 kmpl', '28 km/kg', '16.95 kmpl', '20.27 kmpl',
       '22.54 kmpl', '20 kmpl', '18.49 kmpl', '15.17 kmpl', '22.61 kmpl',
       '11.2 kmpl', '17.42 kmpl', '20.14 kmpl', '22.77 kmpl',
       '20.92 kmpl', '8 kmpl', '17.99 kmpl', '20.28 kmpl', '17.6 kmpl',
       '15.16 kmpl', '21.79 kmpl', '21.63 kmpl', '24.04 kmpl',
       '23.01 kmpl', '23.8 kmpl', '14.62 kmpl', '19.12 kmpl',
       '16.35 kmpl', '16.9 kmpl', '30.47 km/kg', '16.25 kmpl',
       '11.7 kmpl', '25 kmpl', '14.99 kmpl', '27.39 kmpl', '11.9 kmpl',
       '33 kmpl', '14.94 kmpl', '18.27 kmpl', '18.56 kmpl', '20.8 kmpl',
       '22.74 kmpl', '15.37 kmpl', '17.7 kmpl', '19.4 kmpl', '24.35 kmpl',
       '26.2 kmpl', '15.64 kmpl', '21.64 kmpl', '25.24 kmpl', '12.8 kmpl',
       '15.5 kmpl', '14.82 kmpl', '24.4 kmpl', '19.27 kmpl', '14.2 kmpl',
       '14.28 kmpl', '16.47 kmpl', '14.53 kmpl', '21.9 kmpl', '14.5 kmpl',
       '26.08 km/kg', '17.9 kmpl', '33.85 km/kg', '13.2 kmpl',
       '20.89 kmpl', '10.91 kmpl', '17.66 kmpl', '14.08 kmpl',
       '16.4 kmpl', '22.9 kmpl', '16.39 kmpl', '15.97 kmpl', '15.3 kmpl',
       '22 kmpl', '15.6 kmpl', '22.32 kmpl', '22.35 kmpl', '18.78 kmpl',
       '20.68 kmpl', '27.3 kmpl', '14.6 kmpl', '19.5 kmpl', '19.67 kmpl',
       '11.18 kmpl', '12 kmpl', '24.76 kmpl', '21.66 kmpl', '16.11 kmpl',
       '14.3 kmpl', '12.9 kmpl', '18.47 kmpl', '23.22 kmpl', '17.69 kmpl',
       '19.34 kmpl', '19.61 kmpl', '10 kmpl', '22.25 kmpl', '10.71 kmpl',
       '13.01 kmpl', '21.76 kmpl', '26.78 km/kg', '24.7 kmpl',
       '26.49 kmpl', '20.5 kmpl', '17.2 kmpl', '9 kmpl', '18.43 kmpl',
       '19.49 kmpl', '14.81 kmpl', '14.21 kmpl', '19.56 kmpl',
       '21.56 kmpl', '15.26 kmpl', '24.8 kmpl', '25.5 kmpl', '20.86 kmpl',
       '16.55 kmpl', '22.69 kmpl', '17.57 kmpl', '23.64 kmpl',
       '11.79 kmpl', '13.45 kmpl', '11.67 kmpl', '15.9 kmpl',
       '12.62 kmpl', '21.72 kmpl', '18.16 kmpl', '14.23 kmpl',
       '26.6 km/kg', '17.68 kmpl', '16.96 kmpl', '13.7 kmpl', '10.1 kmpl',
       '23 kmpl', '17.52 kmpl', '13.6 kmpl', '18.44 kmpl', '16.38 kmpl',
       '16.82 kmpl', '17.45 kmpl', '16.73 kmpl', '27.97 kmpl',
       '15.41 kmpl', '26.55 kmpl', '24.29 kmpl', '16.42 kmpl',
       '14.59 kmpl', '17.71 kmpl', '15.34 kmpl', '26.68 kmpl',
       '31.59 km/kg', '25.01 kmpl', '16.6 kmpl', '21.19 kmpl',
       '19.02 kmpl', '12.7 kmpl', '19.09 kmpl', '19.65 kmpl',
       '21.02 kmpl', '18.88 kmpl', '20.37 kmpl', '12.63 kmpl',
       '19.03 kmpl', '18.06 kmpl', '18.76 kmpl', '26.83 kmpl',
       '19.44 kmpl', '16.02 kmpl', '26.82 kmpl', '16.56 kmpl',
       '21.74 kmpl', '9.8 kmpl', '14.47 kmpl', '16.12 kmpl', '9.5 kmpl',
       '25.44 kmpl', '14.69 kmpl', '22.95 kmpl', '26.49 km/kg',
       '18.24 kmpl', '22.48 kmpl', '21.46 kmpl', '15.43 kmpl',
       '21.43 kmpl', '15.7 kmpl', '19.08 kmpl', '18.67 kmpl', '12.1 kmpl',
       '14.4 kmpl', '18.53 kmpl', '21.13 kmpl', '15.96 kmpl',
       '12.81 kmpl', '20.15 kmpl', '17.29 kmpl', '19.8 kmpl',
       '19.98 kmpl', '20.63 kmpl', '19.69 kmpl', '13.93 kmpl',
       '16.93 kmpl', '22.56 kmpl', '17.41 kmpl', '22.8 kmpl', '25.6 kmpl',
       '34.05 kmpl', '23.03 kmpl', '14.02 kmpl', '20.62 kmpl',
       '17.43 kmpl', '16.78 kmpl', '16.14 kmpl', '10.6 kmpl',
       '18.42 kmpl', '20.46 kmpl', '15.85 kmpl', '19.59 kmpl',
       '15.01 kmpl', '19.17 kmpl', '13.4 kmpl', '18.97 kmpl',
       '18.07 kmpl', '11.88 kmpl', '27.28 kmpl', '14.9 kmpl',
       '13.44 kmpl', '27.4 kmpl', '16.13 kmpl', '8.9 kmpl', '9.52 kmpl',
       '17.74 kmpl', '23.08 kmpl', '20.88 km/kg', '22.27 kmpl',
       '27.03 kmpl', '15.63 kmpl', '16.07 kmpl', '30.46 kmpl',
       '17.88 kmpl', '20.97 kmpl', '26.21 kmpl', '10.8 kmpl',
       '21.12 kmpl', '22.3 kmpl', '21.3 kmpl', '21.27 kmpl', '24.2 kmpl',
       '15.15 kmpl', '16.98 kmpl', '17.09 kmpl', '17.24 kmpl',
       '22.5 kmpl', '13.73 kmpl', '140 kmpl', '13.14 kmpl', '33.44 kmpl',
       '16.51 kmpl', '15.68 kmpl', '14.67 kmpl', '110 kmpl', '20.08 kmpl',
       '9.17 kmpl', '20.71 kmpl', '18.86 kmpl', '13.87 kmpl',
       '20.25 kmpl', '17.97 kmpl', '18.23 kmpl', '21.38 kmpl',
       '24.97 kmpl', '13.38 kmpl', '16.24 kmpl', '18.33 kmpl',
       '26.3 kmpl', '16.34 kmpl', '11.74 kmpl', '19.16 kmpl',
       '14.49 kmpl', '16.28 kmpl', '12.04 kmpl', '17.32 kmpl',
       '15.81 kmpl', '11 kmpl'], dtype=object)

In [29]:
def convert_mileage(x):
    try:
        if x.endswith('kmpl'):
            return str(2*round(1/2*float(str(x).rstrip(' kmpl'))))
        elif x.endswith('km/kg'):
            return str(2*round(1/2*float(0.737*str(x).rstrip(' km/kg')))) # 0.737 for petrol
    except:
        return 'None'
test_data['mileage'] = test_data['mileage'].apply(convert_mileage)

In [30]:
test_data['mileage']

0         18
1         22
2         18
3         20
4         18
        ...
3485    None
3486      24
3487      18
3488      18
3489      22
Name: mileage, Length: 3490, dtype: object

In [31]:
test_data['body_type']

0       Hatchback
1       Hatchback
2       Hatchback
3       Hatchback
4       Hatchback
          ...
3485        Sedan
3486    Hatchback
3487        Sedan
3488    Hatchback
3489    Hatchback
Name: body_type, Length: 3490, dtype: object

In [32]:
test_data['body_type'].unique()

array(['Hatchback', 'SUV', 'Tata', 'Sedan', 'MUV', 'Minivans', 'Mahindra',
       'Coupe', 'Pickup', 'Cars', 'Maruti', 'Audi', 'Toyota', 'Honda',
       'BMW', 'Datsun', 'Chevrolet', 'Jaguar', 'Porsche'], dtype=object)

In [33]:
# Define the mapping of values to categories
#brand_mapping = {#'BMW': 'Brand', 'Maruti': 'Brand', 'Mercedes-Benz': 'Brand', 'Jaguar': 'Brand', 'Datsun': 'Brand',
                 #'Tata': 'Brand', 'Honda': 'Brand', 'Mahindra': 'Brand', 'Volvo': 'Brand', 'Toyota': 'Brand',
                 #'Isuzu': 'Brand', 'Chevrolet': 'Brand',
                 #'Hatchback': 'Body Category', 'SUV': 'Body Category',
                 #'Sedan': 'Body Category', 'MUV': 'Body Category', 'Minivans': 'Body Category', 'Coupe': 'Body Category',
                 #'Wagon': 'Body Category', 'Pickup': 'Body Category', 'Convertibles': 'Body Category'}

# Replace values in 'body_type' column using the mapping
#df['body_type'] = df['body_type'].replace(brand_mapping)

# Print the updated 'body_type' column
#print(df['body_type'].unique())

In [34]:
test_data['body_type']

0       Hatchback
1       Hatchback
2       Hatchback
3       Hatchback
4       Hatchback
          ...
3485        Sedan
3486    Hatchback
3487        Sedan
3488    Hatchback
3489    Hatchback
Name: body_type, Length: 3490, dtype: object

In [35]:
#city - No problems to solve
test_data['city']

0           Mumbai
1           Jaipur
2       Chandigarh
3            Delhi
4            Delhi
           ...
3485          Pune
3486     Bangalore
3487         Delhi
3488        Mumbai
3489         Delhi
Name: city, Length: 3490, dtype: object

In [36]:
test_data['city'].unique()

array(['Mumbai', 'Jaipur', 'Chandigarh', 'Delhi', 'Bangalore',
       'Ahmedabad', 'Chennai', 'Kolkata', 'Gurgaon', 'Pune', 'Lucknow',
       'Hyderabad', 'Agra'], dtype=object)

In [37]:
test_data.head()

,full_name,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,ID
0,2017 Hyundai Grand i10 1.2 Kappa Sportz Option,2017,1197,Comprehensive,Manual,53658,First Owner,Petrol,80,5.0,18,Hatchback,Mumbai,0
1,2020 Maruti Swift AMT VXI,2021,1197,Not Available,Automatic,33055,Second Owner,Petrol,80,5.0,22,Hatchback,Jaipur,1
2,2010 Maruti Zen Estilo LX BSIII,2010,998,Third Party,Manual,90385,Third Owner,Petrol,70,5.0,18,Hatchback,Chandigarh,2
3,2010 Maruti Alto LXi,2010,796,Third Party insurance,Manual,110000,First Owner,Petrol,50,5.0,20,Hatchback,Delhi,3
4,2018 Hyundai i20 Active S Petrol,2018,1197,Comprehensive,Manual,58000,Second Owner,Petrol,80,5.0,18,Hatchback,Delhi,4

In [38]:
test_data['insurance'].unique()

array(['Comprehensive', 'Not Available', 'Third Party',
       'Third Party insurance', 'Zero Dep', nan], dtype=object)

In [39]:
test_data['insurance'].fillna("None", inplace=True)

In [40]:
#Insurance one-hot enconding
test_data = test_data.join(pd.get_dummies(test_data.insurance,dtype=int)).drop(['insurance'], axis=1)

In [41]:
test_data['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [42]:
#transmission_type one-hot encoding
test_data = test_data.join(pd.get_dummies(test_data.transmission_type,dtype=int)).drop(['transmission_type'],axis=1)

In [43]:
test_data['owner_type'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', nan, 'Fourth Owner',
       'Fifth Owner'], dtype=object)

In [44]:
test_data['owner_type'].fillna("Unknown", inplace=True)

In [45]:
#owner_type One-hot-encoding
test_data = test_data.join(pd.get_dummies(test_data.owner_type,dtype=int)).drop(['owner_type'],axis=1)

In [46]:
test_data['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'Electric', 'LPG'], dtype=object)

In [47]:
#fuel_type One-hot encoding
test_data = test_data.join(pd.get_dummies(test_data.fuel_type,dtype=int)).drop(['fuel_type'],axis=1)

In [48]:
test_data['body_type'].unique()

array(['Hatchback', 'SUV', 'Tata', 'Sedan', 'MUV', 'Minivans', 'Mahindra',
       'Coupe', 'Pickup', 'Cars', 'Maruti', 'Audi', 'Toyota', 'Honda',
       'BMW', 'Datsun', 'Chevrolet', 'Jaguar', 'Porsche'], dtype=object)

In [49]:
#body_type One-hot encoding
test_data = test_data.join(pd.get_dummies(test_data.body_type,dtype=int)).drop(['body_type'],axis=1)

In [50]:
test_data['city'].unique()

array(['Mumbai', 'Jaipur', 'Chandigarh', 'Delhi', 'Bangalore',
       'Ahmedabad', 'Chennai', 'Kolkata', 'Gurgaon', 'Pune', 'Lucknow',
       'Hyderabad', 'Agra'], dtype=object)

In [51]:
#city One-hot encoding
test_data = test_data.join(pd.get_dummies(test_data.city,dtype=int)).drop(['city'],axis=1)

In [52]:
test_data['full_name'].unique()

array(['2017 Hyundai Grand i10 1.2 Kappa Sportz Option',
       '2020 Maruti Swift AMT VXI', '2010 Maruti Zen Estilo LX BSIII',
       ..., '2015 Maruti Wagon R LXI CNG', '2017 Renault KWID RXT AMT',
       '2016 Honda Amaze SX i-VTEC'], dtype=object)

In [53]:
#Create a new column 'ID' with sequential IDs starting from 1
test_data['ID'] = range(0, len(test_data))

#Print the updated DataFrame
test_data.head()

,full_name,registered_year,engine_capacity,kms_driven,max_power,seats,mileage,ID,Comprehensive,None,...,Chandigarh,Chennai,Delhi,Gurgaon,Hyderabad,Jaipur,Kolkata,Lucknow,Mumbai,Pune
0,2017 Hyundai Grand i10 1.2 Kappa Sportz Option,2017,1197,53658,80,5.0,18,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,2020 Maruti Swift AMT VXI,2021,1197,33055,80,5.0,22,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2010 Maruti Zen Estilo LX BSIII,2010,998,90385,70,5.0,18,2,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2010 Maruti Alto LXi,2010,796,110000,50,5.0,20,3,0,0,...,0,0,1,0,0,0,0,0,0,0
4,2018 Hyundai i20 Active S Petrol,2018,1197,58000,80,5.0,18,4,1,0,...,0,0,1,0,0,0,0,0,0,0

In [54]:
#Alternatively, you can use the inplace parameter to modify the DataFrame in place
test_data.drop('full_name', axis=1, inplace=True)

# Print the updated DataFrame
test_data.head()

,registered_year,engine_capacity,kms_driven,max_power,seats,mileage,ID,Comprehensive,None,Not Available,...,Chandigarh,Chennai,Delhi,Gurgaon,Hyderabad,Jaipur,Kolkata,Lucknow,Mumbai,Pune
0,2017,1197,53658,80,5.0,18,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2021,1197,33055,80,5.0,22,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,2010,998,90385,70,5.0,18,2,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2010,796,110000,50,5.0,20,3,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,2018,1197,58000,80,5.0,18,4,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [55]:
test_data.shape

(3490, 58)

In [56]:
test_data.to_csv('./TestDataScenario1.csv',index=False)